<?xml version="1.0" encoding="utf-8"?>
<events version="1.0">
	<event time="28860.0" type="actend" person="private_1" link="3" actType="h"  />
	<event time="28860.0" type="departure" person="private_1" link="3" legMode="car" computationalRoutingMode="car"  />
	<event time="28860.0" type="PersonEntersVehicle" person="private_1" vehicle="private_1"  />
	<event time="28860.0" type="vehicle enters traffic" person="private_1" link="3" vehicle="private_1" networkMode="car" relativePosition="1.0"  />
	<event time="28861.0" type="left link" link="3" vehicle="private_1"  />
	<event time="28861.0" type="entered link" link="5" vehicle="private_1"  />
	<event time="28920.0" type="actend" person="private_2" link="3" actType="h"  />
	<event time="28920.0" type="departure" person="private_2" link="3" legMode="car" computationalRoutingMode="car"  />
	<event time="28920.0" type="PersonEntersVehicle" person="private_2" vehicle="private_2"  />
	<event time="28920.0" type="vehicle enters traffic" person="private_2" link="3" vehicle="private_2" networkMode="car" relativePosition="1.0"  />
	<event time="28921.0" type="left link" link="3" vehicle="private_2"  />
	<event time="28921.0" type="entered link" link="5" vehicle="private_2"  />
	<event time="28980.0" type="actend" person="private_3" link="3" actType="h"  />
	<event time="28980.0" type="departure" person="private_3" link="3" legMode="car" computationalRoutingMode="car"  />
	<event time="28980.0" type="PersonEntersVehicle" person="private_3" vehicle="private_3"  />
	<event time="28980.0" type="vehicle enters traffic" person="private_3" link="3" vehicle="private_3" networkMode="car" relativePosition="1.0"  />
	<event time="28981.0" type="left link" link="3" vehicle="private_3"  />
	<event time="28981.0" type="entered link" link="5" vehicle="private_3"  />
	<event time="29005.0" type="left link" link="5" vehicle="private_1"  />
	<event time="29005.0" type="entered link" link="7" vehicle="private_1"  />
	<event time="29065.0" type="left link" link="5" vehicle="private_2"  />
	<event time="29065.0" type="entered link" link="7" vehicle="private_2"  />
	<event time="29125.0" type="left link" link="5" vehicle="private_3"  />
	<event time="29125.0" type="entered link" link="7" vehicle="private_3"  />
	<event time="29149.0" type="left link" link="7" vehicle="private_1"  />
	<event time="29149.0" type="entered link" link="9" vehicle="private_1"  />
	<event time="29153.0" type="left link" link="9" vehicle="private_1"  />
	<event time="29153.0" type="entered link" link="10" vehicle="private_1"  />
	<event time="29156.0" type="vehicle leaves traffic" person="private_1" link="10" vehicle="private_1" networkMode="car" relativePosition="1.0"  />
	<event time="29156.0" type="PersonLeavesVehicle" person="private_1" vehicle="private_1"  />
	<event time="29156.0" type="arrival" person="private_1" link="10" legMode="car"  />
	<event time="29156.0" type="actstart" person="private_1" link="10" actType="w"  />
	<event time="29209.0" type="left link" link="7" vehicle="private_2"  />
	<event time="29209.0" type="entered link" link="9" vehicle="private_2"  />
	<event time="29213.0" type="left link" link="9" vehicle="private_2"  />
	<event time="29213.0" type="entered link" link="10" vehicle="private_2"  />
	<event time="29216.0" type="vehicle leaves traffic" person="private_2" link="10" vehicle="private_2" networkMode="car" relativePosition="1.0"  />
	<event time="29216.0" type="PersonLeavesVehicle" person="private_2" vehicle="private_2"  />
	<event time="29216.0" type="arrival" person="private_2" link="10" legMode="car"  />
	<event time="29216.0" type="actstart" person="private_2" link="10" actType="w"  />
	<event time="29269.0" type="left link" link="7" vehicle="private_3"  />
	<event time="29269.0" type="entered link" link="9" vehicle="private_3"  />
	<event time="29273.0" type="left link" link="9" vehicle="private_3"  />
	<event time="29273.0" type="entered link" link="10" vehicle="private_3"  />
	<event time="29276.0" type="vehicle leaves traffic" person="private_3" link="10" vehicle="private_3" networkMode="car" relativePosition="1.0"  />
	<event time="29276.0" type="PersonLeavesVehicle" person="private_3" vehicle="private_3"  />
	<event time="29276.0" type="arrival" person="private_3" link="10" legMode="car"  />
	<event time="29276.0" type="actstart" person="private_3" link="10" actType="w"  />
	<event time="43556.0" type="actend" person="private_1" link="10" actType="w"  />
	<event time="43556.0" type="departure" person="private_1" link="10" legMode="car" computationalRoutingMode="car"  />
	<event time="43556.0" type="PersonEntersVehicle" person="private_1" vehicle="private_1"  />
	<event time="43556.0" type="vehicle enters traffic" person="private_1" link="10" vehicle="private_1" networkMode="car" relativePosition="1.0"  />
	<event time="43557.0" type="left link" link="10" vehicle="private_1"  />
	<event time="43557.0" type="entered link" link="8" vehicle="private_1"  />
	<event time="43616.0" type="actend" person="private_2" link="10" actType="w"  />
	<event time="43616.0" type="departure" person="private_2" link="10" legMode="car" computationalRoutingMode="car"  />
	<event time="43616.0" type="PersonEntersVehicle" person="private_2" vehicle="private_2"  />
	<event time="43616.0" type="vehicle enters traffic" person="private_2" link="10" vehicle="private_2" networkMode="car" relativePosition="1.0"  />
	<event time="43617.0" type="left link" link="10" vehicle="private_2"  />
	<event time="43617.0" type="entered link" link="8" vehicle="private_2"  />
	<event time="43676.0" type="actend" person="private_3" link="10" actType="w"  />
	<event time="43676.0" type="departure" person="private_3" link="10" legMode="car" computationalRoutingMode="car"  />
	<event time="43676.0" type="PersonEntersVehicle" person="private_3" vehicle="private_3"  />
	<event time="43676.0" type="vehicle enters traffic" person="private_3" link="10" vehicle="private_3" networkMode="car" relativePosition="1.0"  />
	<event time="43677.0" type="left link" link="10" vehicle="private_3"  />
	<event time="43677.0" type="entered link" link="8" vehicle="private_3"  />
	<event time="43701.0" type="left link" link="8" vehicle="private_1"  />
	<event time="43701.0" type="entered link" link="6" vehicle="private_1"  />
	<event time="43761.0" type="left link" link="8" vehicle="private_2"  />
	<event time="43761.0" type="entered link" link="6" vehicle="private_2"  />
	<event time="43821.0" type="left link" link="8" vehicle="private_3"  />
	<event time="43821.0" type="entered link" link="6" vehicle="private_3"  />
	<event time="43845.0" type="left link" link="6" vehicle="private_1"  />
	<event time="43845.0" type="entered link" link="4" vehicle="private_1"  />
	<event time="43849.0" type="left link" link="4" vehicle="private_1"  />
	<event time="43849.0" type="entered link" link="3" vehicle="private_1"  />
	<event time="43852.0" type="vehicle leaves traffic" person="private_1" link="3" vehicle="private_1" networkMode="car" relativePosition="1.0"  />
	<event time="43852.0" type="PersonLeavesVehicle" person="private_1" vehicle="private_1"  />
	<event time="43852.0" type="arrival" person="private_1" link="3" legMode="car"  />
	<event time="43852.0" type="actstart" person="private_1" link="3" actType="h"  />
	<event time="43905.0" type="left link" link="6" vehicle="private_2"  />
	<event time="43905.0" type="entered link" link="4" vehicle="private_2"  />
	<event time="43909.0" type="left link" link="4" vehicle="private_2"  />
	<event time="43909.0" type="entered link" link="3" vehicle="private_2"  />
	<event time="43912.0" type="vehicle leaves traffic" person="private_2" link="3" vehicle="private_2" networkMode="car" relativePosition="1.0"  />
	<event time="43912.0" type="PersonLeavesVehicle" person="private_2" vehicle="private_2"  />
	<event time="43912.0" type="arrival" person="private_2" link="3" legMode="car"  />
	<event time="43912.0" type="actstart" person="private_2" link="3" actType="h"  />
	<event time="43965.0" type="left link" link="6" vehicle="private_3"  />
	<event time="43965.0" type="entered link" link="4" vehicle="private_3"  />
	<event time="43969.0" type="left link" link="4" vehicle="private_3"  />
	<event time="43969.0" type="entered link" link="3" vehicle="private_3"  />
	<event time="43972.0" type="vehicle leaves traffic" person="private_3" link="3" vehicle="private_3" networkMode="car" relativePosition="1.0"  />
	<event time="43972.0" type="PersonLeavesVehicle" person="private_3" vehicle="private_3"  />
	<event time="43972.0" type="arrival" person="private_3" link="3" legMode="car"  />
	<event time="43972.0" type="actstart" person="private_3" link="3" actType="h"  />
</events>